<section id="menu" class="fontRaleway">
    <h1>OUR MENU</h1>
    <div>
        <div>
            <img src="assets/imgs/R1.png">
            <div class="padding-left">
                <h2>Tonkatsu Ramen</h2>
                <table>
                    <tr>
                        <th>CHICKEN</th>
                        <th>11.95€</th>
                    </tr>
                    <tr>
                        <th>BEEF</th>
                        <th>12.95€</th>
                    </tr>
                    <tr>
                        <th>SHRIMP</th>
                        <th>13.95€</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="reverse">
            <img class="padding-left" src="assets/imgs/R2.png">
            <div>
                <h2>Tonkatsu Ramen</h2>
                <table>
                    <tr>
                        <th>CHICKEN</th>
                        <th>11.95€</th>
                    </tr>
                    <tr>
                        <th>BEEF</th>
                        <th>12.95€</th>
                    </tr>
                    <tr>
                        <th>SHRIMP</th>
                        <th>13.95€</th>
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <img src="assets/imgs/R3.png">
            <div class="padding-left">
                <h2>Tonkatsu Ramen</h2>
                <table>
                    <tr>
                        <th>CHICKEN</th>
                        <th>11.95€</th>
                    </tr>
                    <tr>
                        <th>BEEF</th>
                        <th>12.95€</th>
                    </tr>
                    <tr>
                        <th>SHRIMP</th>
                        <th>13.95€</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
