h1{
    text-align: center;
    color: rgb(124,0,15);
    font-size: 42px;
    font-weight: 800;
    padding: 48px 0px;
}

h2{
    font-weight: 800;
}

table{
    text-align: left;
}

th{
    font-weight: 500;
    padding-right: 20px;
}

section{
    background-image: url('./../../../assets/imgs/section_our_menu_bg.jpg');
    >div{
        display: flex;
        flex-direction: column;
        align-items: center;
        >div{
            display: flex;
            align-items: center;
            color: rgb(77,66,55);
            padding-bottom: 48px;
        }
    }
    
   
}

img{
    width: 220px;  
    height: 220px;  
}

.reverse {
    flex-direction: row-reverse;
} 

.padding-left{
    padding-left: 48px;
}
