h1{
    text-align: center;
    color: rgb(124,0,15);
    font-size: 42px;
    font-weight: 800;
    padding: 48px 0px;
}

.how-to-order-content{
    display: flex;        ;
    justify-content: space-around;
    margin-bottom: 48px;
    >div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100px;
        >img{
            width: 64px;
            height: 64px;
        }
        >p{
            font-size: 22px;
            text-align: center;
            margin-top: 22px;
        }
    }
}

