nav {
    width: calc(100% - 64px);
    padding: 32px;
    display: flex;
    justify-content: space-between;
    >img {
        width: 64px;
        height: 64px;
    }
    >div {
        width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        >a{
            &:hover{
                color: rgb(139,0,0);
            }
        }
    }
}

a {
    text-decoration: none;
    color: white;
}

.phone_btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    height: 28px;
    padding: 2px 8px;
    background-color: rgb(139,0,0);
    border-radius: 7px;
    border: 1px solid black;
    >img {
        width: 24px;
        height: 24px;
    }
}