


nav {
    width: calc(100% - 64px);
    padding: 32px;
    @include dFlex();
    >img {
        width: 64px;
        height: 64px;
    }
    >div {
        width: 400px;
        @include dFlex();
        >a{
            &:hover{
                color: rgb(139,0,0);
            }
        }
    }
}



a {
    text-decoration: none;
    color: white;
}

.phone_btn{
    @include dFlex();
    width: 140px;
    height: 28px;
    padding: 2px 8px;
    background-color: rgb(139,0,0);
    @include borderStyling(solid);
    >img {
        width: 24px;
        height: 24px;
    }
}